/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 02-Mar-2024, 3:50:35 pm
    Author     : VENKI
*/

#issue_table{
    cursor: pointer;
}
.view-con{
    border: 2px solid green;
    border-radius: 8px;
}
#issueviewcontainer{
    width: 70%;
    height: 800px;
/*    border: 1px solid black;*/
    margin-left: 50px;
    position: absolute;   
    top: 150px;
    background-color: rgba(255,255,255,1);
    /*overflow: scroll;*/
    display: none;
}