<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AjaxControl</servlet-name>
        <servlet-class>com.tracker.ticket.AjaxControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueAction</servlet-name>
        <servlet-class>com.tracker.ticket.IssueAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>nothing.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketAction</servlet-name>
        <servlet-class>com.tracker.ticket.TicketAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestImageAction</servlet-name>
        <servlet-class>com.test.image.TestImageAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownloadServlet</servlet-name>
        <servlet-class>com.test.image.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttachmentAction</servlet-name>
        <servlet-class>com.attachment.ServletAction.AttachmentAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teat1</servlet-name>
        <servlet-class>com.test.image.Teat1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>com.test.image.ImageUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAct</servlet-name>
        <servlet-class>user.UserAct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxControl</servlet-name>
        <url-pattern>/AjaxControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueAction</servlet-name>
        <url-pattern>/IssueAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketAction</servlet-name>
        <url-pattern>/TicketAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestImageAction</servlet-name>
        <url-pattern>/TestImageAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownloadServlet</servlet-name>
        <url-pattern>/FileDownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttachmentAction</servlet-name>
        <url-pattern>/AttachmentAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teat1</servlet-name>
        <url-pattern>/Teat1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUploadServlet</servlet-name>
        <url-pattern>/ImageUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAct</servlet-name>
        <url-pattern>/UserAct</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>nothing.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>nothing.LoginAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
